rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /guestbook/{doc} {
      allow read: if true;
      allow write: if
        request.resource.data.name.size() < 50 &&
        request.resource.data.message.size() < 500;
    }
  }
}
